@import '../../styles/variables.scss';

.jobs__error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;

  &-message {
    font-size: 38px;
    font-weight: 500;
    font-family: $mainFont;
    color: $blueColor;
  }
}
