@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.jobs__header {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 40px;
  font-family: 'Inter';

  @media (max-width: $md2) {
    @include adaptiv-320(margin-bottom, 40, 8);
  }

  @media (max-width: 800px) {
    padding: 12px 0;
  }

  &-container {
    position: relative;
    padding: 0 15px;
    height: 36px;
    width: 1146px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  &-logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 15px;
    align-items: center;
    gap: 12px;
    padding: 3px 0;
    @media (max-width: 500px) {
      display: none;
    }
    &-img {
      position: relative;
      height: 30px;
      width: 30px;
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-menu {
    display: flex;
    gap: 60px;
    @media (max-width: 580px) {
      gap: 15px;
    }
    & a {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.menu__link {
  transition: all 0.1s;
  color: rgba(35, 33, 52, 1);
}

.menu__link-active {
  transition: all 0.1s;
  color: rgba(94, 150, 252, 1);
}
