.jobs__search {
  position: relative;
  display: flex;
  padding: 0px 36px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 21px;
  color: black;

  &-input {
    width: 100%;
    &::placeholder {
      color: #acadb9;
    }

    &:disabled {
      background-color: #ffffff;
      pointer-events: none;
      color: #c2c6cf;
    }
  }

  &-button {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 83px;
    height: 32px;
    background: #5e96fc;
    border-radius: 8px;
    font-weight: 500;
    line-height: 21px;
    color: #ffffff;
    &:disabled {
      background-color: #9dbfff;
      pointer-events: none;
    }
  }

  &-img {
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 12px;
    width: 16px;
    height: 16px;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
