@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.jobs__filters {
  font-family: 'Iner';
  gap: 10px;
  min-width: 315px;

  @media (max-width: 400px) {
    min-width: 280px;
  }

  height: 360px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;

  &-form {
    min-width: 315px;
    padding: 20px;
    @media (max-width: 400px) {
      min-width: 280px;
    }
  }
}
